{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur focus pixel{% endblock %}

{% block body %}

<main class="contenair">

{# Mon image d'entête #}
<div class="fond"></div>

<p>produits récement ajoutés</p>
<br>



</main>




<footer>

</footer>




{% endblock %}
