{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur focus pixel{% endblock %}

{% block body %}

<main class="contenair">

    {# Mon image d'entête #}
    <div class="fond"></div>


    <div class="recentlyAdd">
        <p>Produits recemment ajoutés</p>

        {% for product in products %}
        {{product.id}}
        {% endfor %}
    </div>


</main>




<footer>

</footer>
{% endblock %}
