<h1>Bonjour! Veuillez confirer votre adresse e-mail !</h1>

<p>
Confirmez votre adresse e-mail en cliquant sur le lien suivant: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmation d'e-mail</a>.
   Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Cheers!
</p>
