{# Pour regarder les pages d'erreurs sans passer en "prod" taper /_error/404 #}

{%{% extends "base.html.twig" %}}

{% block title %}Page non trouvé{% endblock %}


{% block body %}


<main class="contenair">


<h1>Page non trouvé</h1>

<p>La page que vous recherchez n'a pas été trouvé</p>





</main>




{% endblock %}