{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block body %}

<main class="contenair">
    <div class="example-wrapper">
        <h1>{{ controller_name }}</h1>

    <p>Dites nous ce que vous souahitez vendre</p>


    </div>
</main>
{% endblock %}
