<footer>

    <div class="footLogo">
        <img src="{{ asset('assets/img/logo2.png') }}" alt="logo">
    </div>

    <div class="us">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur aperiam tempore nemo earum, nam quas et dolor, ex explicabo architecto itaque distinctio aliquid veritatis incidunt! Fugit enim dicta porro quaerat!</p>
    </div>


    <div class="network">
        <a href=""><i class="fa-brands fa-facebook fa-xl"></i></a>
        <a href=""><i class="fa-brands fa-linkedin fa-xl"></i></a>
        <a href=""><i class="fa-brands fa-instagram fa-xl"></i></a>
    </div>


    <div class="adress">
    <p>Focus pixel</p>
    <p>24 avenue du general leclerc</p>
    <p>94400 vitry sur seine</p>
    </div>

<div class="map">

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d827.9391809121074!2d2.3896034756820006!3d48.79061054668937!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e67396a8c06313%3A0x3c6738e3676dd172!2s24%20Av.%20du%20G%C3%A9n%C3%A9ral%20Leclerc%2C%2094400%20Vitry-sur-Seine!5e0!3m2!1sfr!2sfr!4v1734078749852!5m2!1sfr!2sfr" width="200" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

</footer>