<footer>

    <div class="nous">
    </div>


    <div class="contact">
        <a href=""><i class="fa-brands fa-facebook fa-xl"></i></a>
        <a href=""><i class="fa-brands fa-linkedin fa-xl"></i></a>
        <a href=""><i class="fa-brands fa-instagram fa-xl"></i></a>
    </div>


    <div class="adress">
    <p>Focus pixel</p>
    <p>24 avenue du general leclerc</p>
    <p>94400 vitry sur seine</p>
    </div>

<div class="map"></div>

<footer>