/*************** GLOBAL ***************/

* {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  box-sizing: border-box;
  font-family: Open sans-serif;

  h1 {
    text-transform: capitalize;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    text-decoration: underline;
  }

  h2 {
    text-transform: capitalize;
    text-decoration: underline;
    /* text-align: center; */
  }

  h3 {
    text-align: center;
    margin-bottom: 10px;
  }

  .contenair {
    margin: 50px auto;
    width: 1650px;
  }
}

/*************** END GLOBAL ***************/

/*************** HEADER + NAV***************/

/* Conteneur global pour l'image */
.hero {
  background-image: url("../img/diaph.jpg");
  background-size: cover;
  background-position: center;
  height: 70vh;
  position: relative;
  /* justify-content: center; */
}

/* Conteneur pour le logo et la navigation */
.logNav {
  display: flex;
  align-items: center;
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  padding: 0 20px;
  color: white;
  z-index: 10;
}

/* Logo */
.logo {
  margin-right: 20px;
}

.logo img {
  height: 150px;
}

/* Navigation */
nav {
  display: flex;
  gap: 20px;
  flex-grow: 1;
  /* justify-content: center;  */
}

ul {
  display: flex;
  list-style: none;
  /* padding: 0;
  margin: 0; */
}

nav a:hover {
  /*Zoom léger*/
  transform: scale(1.2);
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  display: inline-block;
  transition: 0.4s ease, transform 0.4s ease;
}

.item {
  display: flex;
  flex-grow: 1;
}

.item ul {
  justify-content: center;
}

.item li {
  margin: 0 30px;
}

.account {
  margin-left: auto;
}

.account ul {
  justify-content: end;
  justify-content: center;
  display: flex;
  gap: 15px;
}

.account li {
  margin: 0 10px;
}

.account a {
  color: white;
}

.account i {
  margin-right: 10px;
}

/* Cacher le texte "Mon profil" par défaut */
.myProfil .profil {
  display: none;
}

/* Afficher "Mon profil" lorsque la souris survole l'élément */
.myProfil:hover .welcome {
  display: none;
}

.myProfil:hover .profil {
  display: inline;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ); /* Dégradé */
  z-index: 1;
}

.header-content {
  z-index: 2;
}

/*************** END HEADER + NAV ***************/

/*************** LOGIN ***************/

/* .log {
  height: 250px;
  width: 300px;
  border-radius: 10px 10px;
  justify-content: space-between;
} */

/*************** END LOGIN ***************/

/*************** MAIN HOME ***************/

/* Conteneur dédier aux produits récement ajouté */
.recentlyAdd {
  justify-content: center;/*space evenly*/
  margin-top: 50px;

  .prodAdd {
   width: 100%;/*ajout test*/
   justify-content: center; /*ajout test*/
   flex-wrap: wrap;/*ajout test*/

    margin-top: 40px 30px; /*sans 30px*/
    display: flex;

    .product {
      width: 350px;
      height: 450px;/*anciennement 420px*/
      /* margin: auto; */
      margin: 40px 20px;
      border: 1px solid black;
      border-radius: 10px 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      transition: box-shadow 0.3s ease-in-out;
    }

    .product:hover {
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    }

    .prodImg img {
      display: flex;
      width: 260px;
      height: 200px;
      margin: auto;
      object-fit: contain;
      justify-content: center;
    }

    .prodInfo {
      margin: 20px;
    }

    #titleP {
      height: 50px;
      text-align: center;
    }

    .prodInfo span {
      font-weight: 500;
      font-size: x-large;
    }

    .new-price {
      color: red;
      font-weight: 700px;
      padding-left: 20px;
      font-size: xx-large;
      /* text-trnsform: uppercase;  */
    }

    .old-price {
      text-decoration: line-through;
    }

    .link {
      margin: 20px auto;
      display: flex;
      justify-content: center;
    }

    .link button {
      margin: auto;
      width: 150px;
      height: 35px;
      border-radius: 10px 10px;
      background-color: rgba(117, 48, 202, 0.992);
      color: white;
      font-weight: 700;
    }

    .link button a {
      text-decoration: none;
      color: white;
    }
  }
  /* Conteneur dédier aux promo récement ajouté
  .promAdd{
    margin-top: 40px;
    display: flex;} */
}

/*************** END MAIN HOME***************/

/*************** FORMULAIRES ***************/

/* Formulaire d'inscription */

.registerForm {
  height: 500px;
  width: 450px;
  margin: auto;
  border: 1px black;
  border-radius: 10px;
  background-color: rgb(192, 187, 187);

  .register form {
    margin: 20px;
    padding: 30px;
  }

  .register form div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-between;
  }

  .register form label {
    margin-right: 20px;
  }

  .sub {
    margin: auto;
    width: 150px;
    height: 35px;
    border-radius: 10px 10px;
    background-color: rgba(117, 48, 202, 0.992);
    color: white;
    font-weight: 700;
  }
}

/* Formulaire de connexion */

.login {
  width: 350px;
  height: 430px;
  border: 1px black;
  border-radius: 10px 10px;
  margin: auto;
  background-color: rgb(192, 187, 187);
}

/* Formulaire de vente */

.formSell {
  height: 500px;
  width: 460px;
  margin: auto;
  border: 1px black;
  border-radius: 10px 10px;
  background-color: rgb(192, 187, 187);

  .sell {
    margin: 20px;
    padding: 30px;
  }

  .sell form div {
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-between;
  }

  .sell form label {
    margin-right: 20px;
  }

  #form_sell_vente {
    margin: auto;
    width: 150px;
    height: 35px;
    border-radius: 10px 10px;
    background-color: rgba(117, 48, 202, 0.992);
    color: white;
    font-weight: 700;
  }
}

/* formulaire paiement */

.paiement {
  background-color: rgb(192, 187, 187);
  height: 280px;
  width: 460px;
  margin: auto;
  border: 1px black;
  border-radius: 10px 10px;
}

.paiement_form {
  padding: 30px;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-between;
}

#payment_payer {
  margin: auto;

  width: 150px;
  height: 35px;
  border-radius: 10px 10px;
  background-color: rgba(117, 48, 202, 0.992);
  color: white;
  font-weight: 700;
}

/*************** END FORM ***************/

/*************** MAIN PRODUCT***************/

/* Conteneur dédier aux produits */
.productSell {
  justify-content: center; /*ajout test*/
  /* display: flex;ajout test */

  margin-top: 50px;

  .prodAdd {
    justify-content: center; /*ajout test*/
    /* max-width: 1200px; ajout test */
    width: 100%;/*ajout test*/

    margin: 40px 30px;
    display: flex;
    flex-wrap: wrap;

    .product {
      width: 350px;
      height: 450px;/*anciennement 420px*/
      margin: 40px 20px;
      /* margin: auto; */
      border: 1px solid black;
      border-radius: 10px 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      transition: box-shadow 0.3s ease-in-out;
    }

    .product:hover {
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    }

    .prodImg img {
      display: flex;
      width: 260px;
      height: 200px;
      margin: auto;
      object-fit: contain;
      justify-content: center;
    }

    .prodInfo {
      margin: 20px;
    }

    #titleP {
      height: 50px;
      text-align: center;
    }

    .prodInfo span {
      font-weight: 500;
      font-size: x-large;
    }

    .status {
      color: red;
      font-weight: bold;
      font-size: 1.2em;
      text-transform: uppercase;
    }

    .link {
      margin: auto;
      display: flex;
      justify-content: center;
    }

    .link button {
      margin: auto;
      width: 150px;
      height: 35px;
      border-radius: 10px 10px;
      background-color: rgba(117, 48, 202, 0.992);
      color: white;
      font-weight: 700;
    }

    .link button a {
      text-decoration: none;
      color: white;
    }
  }
}

/* Conteneur dédier aux promotions */
.promoAdd {
  justify-content: space-between;
  margin: 40px 30px;
  display: flex;
  flex-wrap: wrap;

  .product {
    width: 350px;
    height: 450px;
    margin: 40px 20px;
    border: 1px solid black;
    border-radius: 10px 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      transition: box-shadow 0.3s ease-in-out;
  }
  .product:hover {
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    }

  .prodImg img {
    display: flex;
    width: 260px;
    height: 200px;
    margin: auto;
    object-fit: contain;
    justify-content: center;
  }

  .prodInfo {
    margin: 20px;
  }

  #titleP {
    height: 50px;
    text-align: center;
  }

  .prodInfo span {
    font-weight: 500;
    font-size: x-large;
  }

  .new-price {
    color: red;
    font-weight: 700px;
    padding-left: 20px;
    font-size: xx-large;
    /* text-trnsform: uppercase;  */
  }

  .old-price {
    text-decoration: line-through;
  }

  .link {
    margin: auto;
    display: flex;
    justify-content: center;
  }

  .link button {
    margin: auto;
    width: 150px;
    height: 35px;
    border-radius: 10px 10px;
    background-color: rgba(117, 48, 202, 0.992);
    color: white;
    font-weight: 700;
  }

  .link button a {
    text-decoration: none;
    color: white;
  }
}

.priceFav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*************** END MAIN PRODUCT***************/

/***************  PRODUCT DESCRIPTION & SLIDER***************/

.alldetails {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .descript {
    height: 380px;
    width: 890px;
    margin: auto;
    border: 1px black solid;
    border-radius: 10px;

    padding: 20px;
    box-sizing: border-box;

    .infos {
      margin: 20px;
    }

    .infos h2 {
      font-size: 15px;
    }

    .infos p {
      padding: 10px;
    }

    .infos button {
      margin: auto;
      width: 150px;
      height: 35px;
      border-radius: 10px;
      background-color: rgba(117, 48, 202, 0.992);
      color: white;
      font-weight: 700;
    }

    .infos span {
      margin: 20px;
      font-weight: 500;
      font-size: x-large;
    }
  }
}

#carouselExample {
  width: 400px;
  height: 380px;
  margin: auto;
  overflow: hidden;
}

#carouselExample img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(48, 0, 77, 0.7);
  border-radius: 50%;
  padding: 10px;
  /* filter: brightness(0) invert(1); */
}

.carousel-control-prev,
.carousel-control-next {
  width: auto;
  height: auto;
}

/***************  PRODUCT DESCRIPTION & SLIDER***************/

/*************** PANIER ***************/

.tableContenair {
  vertical-align: middle;
  justify-content: center;
  /* display: grid; */
  display: flex;

  .table {
    background-color: grey;
    border-radius: 15px;
    border: 1px solid black;

    tbody td img {
      object-fit: contain;
      height: 70px;
      width: 50px;
    }

    tbody .product {
      width: 400px;
    }
  }
}

/*************** END PANIER ***************/

/*************** PROFIL USER ***************/

/*************** END PROFIL USER ***************/

/*************** SECTION 3 ***************/

/*************** END SECTION 3 ***************/

/*************** ASIDE RIGHT ***************/

/*************** END ASIDE RIGHT ***************/

/*************** FOOTER ***************/

footer {
  display: flex;
  background-color: grey;
  color: white;
  justify-content: space-evenly;
  align-items: center;

  .footLogo img {
    width: 100px;
    height: 100px;
  }

  .us {
    width: 400px;
  }

  .network i {
    color: white;
  }
}

/*************** END FOOTER ***************/

/*************** MEDIAQUERY ***************/

/* @media (max-width: 1400px) {
  header {
    background-color: #e68f15;
  }
  header h2 {
    font-size: 14px;
  }
}

@media (max-width: 960px) {
  header {
    background-color: #a6f28b;
  }
  .logo1 {
    display: none;
  }
  .logo2 {
    display: inline;
  }
  header h2 {
    font-family: "Roboto-Black";
  }
} 

/*************** END MEDIAQUERY ***************/

/*************** TENTATIVE AMELIORATION FORM***************/
