/* https://fonts.google.com/ */

/* 
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"); */

/* @font-face {
  font-family: "Roboto";
  src: url("font/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto-Italic";
  src: url("font/Roboto-Italic.ttf");
}

@font-face {
  font-family: "Roboto-Black";
  src: url("font/Roboto-Black.ttf");
} */

/* @font-face {
  font-family: ;
  src: url();
} */

/* 
Une mise en page flexible doit avoir un élément parent avec la propriété display définie sur flex.
Les éléments enfants directs du conteneur flexible deviennent automatiquement des éléments flexibles.

.flexbox{
display: flex;

Flex Container : 
flex-direction: column;
flex-direction: column-reverse;
flex-direction: row;
flex-direction: row-reverse;
flex-wrap: wrap;
flex-wrap: nowrap;
flex-wrap: wrap-reverse;
flex-flow: row wrap;
justify-content: center;
justify-content: flex-start;
justify-content: flex-end;
justify-content: space-around;
justify-content: space-between;
justify-content: space-evenly;

height: 200px; à définir absolument une hauteur quand on utilise "align-items"
align-items: center;
align-items: flex-start;
align-items: flex-end;
align-items: stretch;
align-items: baseline;

flex-wrap: wrap;
align-content: space-between;

flex-wrap: wrap;
align-content: space-around;

flex-wrap: wrap;
align-content: stretch;

flex-wrap: wrap;
align-content: center;
align-content: space-evenly;

flex-wrap: wrap;
align-content: flex-start;

flex-wrap: wrap;
align-content: flex-end;

justify-content: center;
align-items: center;

Child Elements (Items) :
display: flex;
align-items: stretch; ->
pour un item :
order

display: flex;
align-items: stretch; ->
pour un item :
order

display: flex;
align-items: stretch;

flex-grow

display: flex;
align-items: stretch;
flex-shrink


flex-basis
flex : auto // On l'utilse pour les enfants
align-self


flex-flow

}
*/

/*************** GLOBAL ***************/

* {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  box-sizing: border-box;
  font-family: Open sans-serif;

  /* !!! afin d'avoir un visuel sur la constuction de ma page ne pas oublier d'effacer >> */
  /* border: 1px solid; */

  h1 {
    text-transform: capitalize;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    text-decoration: underline;
  }

  h2 {
    text-transform: capitalize;
    margin-top: 20px;
    margin-bottom: 40px;
    text-decoration: underline;
  }
}

.contenair {
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
}

/* iframe,
img {
  width: 100%;
  display: block;
} */

/* body {
  font-family:Arial;
    background-image: url("../img/fond.png");
} */

/* .container { */
/* width:1000px; */
/*margin:0 auto;pour centrer la page dans le navigateurs*/
/* box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color: #fff; */
/* }  */

/*************** END GLOBAL ***************/

/*************** HEADER + NAV***************/

/* Conteneur global pour l'image */
.hero {
  background-image: url("../img/diaph.jpg");
  background-size: cover;
  background-position: center;
  height: 80vh;
  position: relative;
}

/* Conteneur pour le logo et la navigation */
.logNav {
  display: flex;
  align-items: center;
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  padding: 0 20px;
  color: white;
  z-index: 10;
}

/* Logo */
.logo {
  margin-right: 20px;
}

.logo img {
  height: 150px;
}

/* Navigation */
nav {
  display: flex;
  gap: 20px;
  flex-grow: 1;
}

ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav a:hover {
  /*Halo lumineux doux autour du lien*/
  /* box-shadow: 5px 2px 2px rgba(255, 255, 255, 0.8);  */

  /*Zoom léger*/
  transform: scale(1.2);
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: bold;

  border-radius: 5px;
  /* padding: 10px 15px; */
  display: inline-block;
  transition: 0.4s ease, transform 0.4s ease;
}

.item li {
  margin: 0 30px;
}

.account {
  margin-left: auto; /* Place .account à l'extrémité droite */
}

.account ul {
  justify-content: end;
  display: flex;
  gap: 15px;
}

.account li {
  margin: 0 10px;
}

.account a {
  color: white;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ); /* Dégradé */
  z-index: 1;
}

.header-content {
  z-index: 2;
}

/*************** END HEADER + NAV ***************/

/*************** LOGIN ***************/

.log {
  height: 250px;
  width: 300px;
  border-radius: 10px 10px;
  justify-content: space-between;
}

/*************** END LOGIN ***************/

/*************** REGISTRATION ***************/
.register {
  height: 250px;
  width: 300px;
  border-radius: 10px 10px;
  justify-content: space-between;
}

/*************** END REGISTRATION ***************/

/*************** MAIN HOME ***************/

.prodAdd {
  display: flex;
  justify-content: space-around;
}

.product {
  margin: auto;
  border: 1px solid black;
  border-radius: 10px 10px;
}

/* .prodImg {
  width: 520px;
  height: 550px;
  border: 5px;
} */

.prodImg img {
  width: 486px;
  height: 302px;
  margin: auto;
  object-fit: contain;
}

h3 {
  text-align: center;
  margin-bottom: 10px;
}

.addBasket {
  padding: 5px;
  margin: 0 5px;
  border-radius: 5px 5px 5px;
  background-color: gray;
  color: white;
  font-weight: 700;
  justify-content: end;
}

/*************** END MAIN HOME***************/

/*************** FORM ***************/
.registerForm {
  height: 250px;
  width: 400px;
  margin: auto;
  border: 1px black;
  border-radius: 10px 10px;
  background-color: rgb(151, 151, 151);
}

.login {
  height: 200px;
  width: 300px;

  border: 1px black;
  border-radius: 15px 15px;
  margin: auto;
  background-color: rgb(151, 151, 151);
}

.formSell {
  margin: auto;
  height: 400px;
  width: 500px;
  border: 1px black;
  border-radius: 20px 20px;
  background-color: gray;
}

.formSell form {
  align-items: center;
  margin: auto;
  justify-content: center;
  text-align: center;
  justify-content: space-between;
}

/*************** END FORM ***************/

/*************** MAIN PRODUCT***************/

.productSell {
  display: flex;
  justify-content: space-around;
}

.productAdd {
  display: flex;
  justify-content: space-around;
}

.product {
  margin: auto;
}

.productImg {
  width: 520px;
  height: 500px;
  border: 5px;
  border: 1px solid black;
  border-radius: 10px 10px 0 0;
}

.productImg img {
  width: 486px;
  height: 302px;
  margin: auto;
  object-fit: contain;
}

h3 {
  text-align: center;
  margin-bottom: 10px;
}

.productInfo {
  border: 1px solid black;
  border-radius: 0 0 10px 10px;
  margin: auto;
}

.productInfo p {
justify-content: space-between;
}


.productInfo a {
  border: 1px black solid;
  border-radius: 5px;
  color: black;
  margin-right: 20px;
}

.productButton {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.productButton a {
  padding: 10px;
  border-radius: 30px 30px;

}

.productButton button {

  border-radius: 30px;
  /* font-size:; */
  background-color: gray;
  :hover {
    background-color:rgb(229, 229, 229) ;
  }
}

.addBasket {
  padding: 5px;
  margin: 0 5px;
  border-radius: 5px 5px 5px;
  background-color: gray;
  color: white;
  font-weight: 700;
}

/*************** END MAIN PRODUCT***************/


/*************** SLIDER PRODUCT DESCRIPTION ***************/

/* .slideshow-container {
    position: relative;
    max-width: 600px; 
    margin: auto;
    overflow: hidden;
}

.slide {
    display: none; 
    text-align: center;
}

.slide img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 10px;
}


.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
} */


/*************** SLIDER PRODUCT DESCRIPTION ***************/


/*************** PANIER ***************/
/* .productCart {
  border: 1px solid black;
  border-radius: 20px 20px;
  justify-content: space-between;
}

.productCart img {
  width: 249px;
  height: 210px;
  object-fit: contain;
  margin: 20px;
  border-radius: 10px 10px;
} */

.table{
 
 
 td {
object-fit: contain;
  height: 70px;
width: 70px; 
}

}


/*************** END PANIER ***************/

/*************** SECTION 2 ***************/

/*************** END SECTION 2 ***************/

/*************** SECTION 3 ***************/

/*************** END SECTION 3 ***************/

/*************** ASIDE RIGHT ***************/

/*************** END ASIDE RIGHT ***************/

/*************** FOOTER ***************/

footer {
  display: flex;
  background-color: grey;
  color: white;
  justify-content: space-evenly;
  align-items: center;

  .us {
    width: 400px;
  }
}

.footLogo img {
  width: 100px;
  height: 100px;
}

/*************** END FOOTER ***************/

/*************** MEDIAQUERY ***************/

/* @media (max-width: 1400px) {
  header {
    background-color: #e68f15;
  }
  header h2 {
    font-size: 14px;
  }
}

@media (max-width: 960px) {
  header {
    background-color: #a6f28b;
  }
  .logo1 {
    display: none;
  }
  .logo2 {
    display: inline;
  }
  header h2 {
    font-family: "Roboto-Black";
  }
} */

/*************** END MEDIAQUERY ***************/
