{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}

<header>

<div class="logo">
    <img src="{{asset('assets/img/logo.png')}}" alt="">
</div>

<nav>
    <ul>
        <li><a href="boitiers">Boitiers</a></li>
        <li><a href="optiques">Optiques</a></li>
        <li><a href="flashs">Flashs</a></li>
        <li><a href="accessoires">Accessoires</a></li>
        <li><a href="vente">Vendez votre matériel</a></li>
    </ul>
</nav>

<div class="icons">
    <div class="loupe"><a href=""></a></div> 

    <div class="compte" href=""><a href=""></a></div>

    <div class="panier"><a href="panier"></a></div>
</div>

</header>

<div class="fond"><img src="{{asset('assets/img/optic.png')}}" alt=""></div>


<main>

<div class="contenair">
</div>



</main>

<footer>
</footer>




{% endblock %}
