{% extends 'base.html.twig' %}

{% block title %}Hello DescriptionController!{% endblock %}

{% block body %}

<h1 class="descriptTitle">Description</h1>

<div class="descript">

    <h2>{{produit.marque}} {{produit.nom}}</h2>

    <div class="carouselProd">


        {# <button class="btn" id="prev"></button>
        <button class="btn" id="next"></button> #}

    </div>

        <p>{{produit.description}}</p>

        <button class='ajout' data-bouton='description' data-id='{{produit.id}}'>Ajouter au panier</button>

</div>

{% endblock %}
