{% extends 'base.html.twig' %}

{% block title %}Hello PaymentController!{% endblock %}

{% block body %}


<main class="contenair">

    <div class="paiement">

        <div class="paiement_form">

            <h1>paiement</h1>

                {{form_start(form)}}
                {{form_widget(form)}}
                {{form_end(form)}}
                
        </div>
    </div>

</main>


{% endblock %}